{% load static %}
{% load crispy_forms_tags%}
<!DOCTYPE>
<html>

<head>
	<title>Booking</title>
	<link rel="stylesheet" type="text/css" href="book.css" />
	<link rel="stylesheet" type="text/css" href="dhtmlxcalendar.css" />

	<script src="dhtmlxcalendar.js"></script>

	<style>
		#calendar,
		#calendar2,
		#calendar3,
		#calendar4,
			{
			border: 1px solid #909090;
			font-family: Tahoma;
			font-size: 12px;
		}

		#holder {
			border: 0px solid;
			width: 1365px;
			height: auto;
			margin-left: 0px;
			margin-right: 0px;
			margin-top: 0px;
			margin-bottom: 0px;
		}

		#header {
			background-image: url({% static '11.jpg' %});
			background-repeat: no-repeat;
			border: 1px solid;
			width: 1360px;
			height: 100px;
			margin-top: -100px;
			margin-right: 0px;
			margin-left: 0px;
		}

		#header ul {
			list-style: none;
		}

		#header ul li a {
			border: 3px solid;
			font-size: 18px;
			float: right;
			background-color: #FFD700;
			width: 110px;
			height: 50px;
			text-align: center;
			margin: 0px 10px 0px 10px;
			font-weight: bold;
			line-height: 50px;
			border-radius: 50px;
			transition-property: all;
			transition-duration: 0.4s;
			transition-timing-function: linear;
		}

		#header ul li a {
			text-decoration: none;
			color: white;
		}

		#header ul li a:hover {
			background-color: #00FF7F;
			color: #4b388a;

		}

		#header ul li a:active {
			background-color: #00FFFF;
		}

		#ab {
			background-image: url({% static '17.jpg' %});
			border: 0px solid;
			width: 285px;
			height: 550px;
			margin-top: 0px;
			margin-bottom: auto;
		}

		#check {
			border: 0px solid;
			color: #FF0;
			width: 285px;
			height: 200px;
			margin-left: 6px;
			margin-right: 0px;
			margin-bottom: auto;
			margin-top: 2px;

		}

		#chat {
			margin-left: 10px;
			width: 180px;
			height: 100px;
			color: #FF0;
		}

		#fd {
			margin-left: 10px;
			width: 180px;
			height: 100px;
			color: #FF0;
		}

		#book {
			background-image: url({% static '11.jpg' %});
			text-align: center;
			width: 819px;
			height: 550px;
			margin-top: -572px;
			margin-left: 288px;
		}

		#a1 {
			border: 20px solid yellow;
			width: 500px;
			height: 400px;
			margin-left: 130px;
			background-color: #FFF380;
		}

		#rest {
			background-image: url({% static '17.jpg' %});
			border: 0px solid;
			width: 250px;
			height: 550px;
			text-align: center;
			margin-left: 1110px;
			margin-top: -572px;
			margin-bottom: auto;
			margin-right: auto;
		}

		#a3 {
			border: 1px solid;
			width: 248px;
			height: 160px;
			background-image: url({% static 'x.jpg' %});
			background-size: 247px;
			background-repeat: no-repeat;
			margin-top: -2px;


		}

		#b3 {
			border: 1px solid;
			width: 248px;
			height: 160px;
			background-image: url({% static 'y.jpg' %});
			background-size: 247px;
			background-repeat: no-repeat;

		}

		#c3 {
			border: 1px solid;
			width: 248px;
			height: 170px;
			background-image: url({% static 'z.jpg' %});
			background-size: 247px;
			background-repeat: no-repeat;

		}
	</style>
	<script>
		var myCalendar;
		function doOnLoad() {
			myCalendar = new dhtmlXCalendarObject(["calendar", "calendar2", "calendar3", "calendar4",]);
		}
	</script>
</head>

<body onload="doOnLoad();">
	<div id="holder"><a href="https://www.co.in"><img src="{% static '22.jpg' %}" width="200px" height="100px" /></a>
		<div id="header">

			<ul>
				<li><a href="{% url 'logout' %}">Logout</a></li>



			</ul>
		</div>
		<!--header -->
		<div id="ab">
			<div id="check">
				<br>
				<form action="#" method="post">
					{% csrf_token %}
					<div style="position:relative;height:80px;">
						<label for="in">Check in:</label> &nbsp;&nbsp;&nbsp;&nbsp;
						<input id="calendar" name="in" placeholder="2020-06-02" required="" type="text"> <br><br>

						<label for="in">Check out:</label> &nbsp;&nbsp;
						<input id="calendar2" name="out" placeholder="2020-06-05" required="" type="text"> <br><br>

					</div>
					Room Type:
					<select name="RType">
						<option value="A/C">A/C</option>
						<option value="Non-A/C">Non-A/C</option>
					</select>
					<select name="Bedno">
						<option value="single">Single</option>
						<option value="double">Double</option>
						<option value="three">Three</option>
					</select>
					<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="submit" name="submit" value="submit" />
					<input type="reset" name="reset" value="Reset" />
				</form>
			</div>
			<!--chack -->
			&nbsp;
			<div id="chat">
				<form action="{% url 'chat' %}" method="post">
					{% csrf_token %}
					<label for="in">Message from Admin</label>
					<input id="chat" name="msg" placeholder="message" required="">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="submit" name="submit" value="submit" />
				</form>
			</div>
			<!--chat-->
			<br>
			<br>
			<div id="fd">
				<form action="{% url 'feedback' %}" method="post">
					{% csrf_token %}
					<label for="in">Feedback</label>
					<input id="fd" name="msg" placeholder="Type message" required="">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="submit" name="submit" value="submit" />
				</form>
			</div>
			<!--fd-->
		</div>
		<!--ab-->
		<div id="book">
			<h1>welcome {{user.first_name}} {{user.id}} fill for booking
			</h1>
			<div id="a1">
				<p>&nbsp;</p>

				<form action="{% url 'welcome' %}" method="post">
					
					{% csrf_token %}
					<label for="name">Name:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<input id="name" name="Cname" placeholder="Full Name" required="" tabindex="1" type="text"><br><br>
					<label >Customer id:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<input name="cust_id" value={{user.id}} type="number"><br><br>

					<label for="email">Email</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<input id="email" name="Email" placeholder="Email" required="" type="email"><br><br>

					<label for="mobile">Mobile No:</label> &nbsp;
					<input id="phone" name="Mobile" placeholder="Number" required="" type="text"> <br><br>

					<div style="position:relative;height:80px;">

						<label for="in">Check in:</label> &nbsp;&nbsp;&nbsp;&nbsp;
						<input id="calendar3" name="Cin" placeholder="2015-06-02" required="" type="date"> <br><br>

						<label for="out">Check out:</label> &nbsp;&nbsp;
						<input id="calendar4" name="Cout" placeholder="2015-06-05" required="" type="date"> <br><br>

					</div>
					Room Type:
					<select name="RType" id="slct-rtype">
						<option value="">Select Room Type</option>
						<option value="1">A/C</option>
						<option value="2">Non-A/C</option>
					</select>
					<select name="Bedno" id="slct-badno">
						<option value="">Select Bed No</option>
						<option value="1">Single</option>
						<option value="2">Double</option>
						<option value="3">Three</option>
					</select><br /><br /><br />
					Room no :
					<select name="Room_no" id="slct-roomno">
						<option value="">Select Room No</option>

					</select>





					</select>
					<br /><br /><br />

					<input type="submit" name="submit" value="Book" />
					<input type="reset" name="reset" value="Reset" />
				</form>
			</div>
			<!--a1-->
		</div>
		<!--book-->
		<div id="rest">
			<h1>Special Dishes</h1>
			<div id="a3">
			</div>
			<div id="b3">
			</div>
			<div id="c3">
			</div>
		</div>
		<!--rest-->
	</div>
	<!--holder-->
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"
		integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
	<script>
		$(function () {
			$("#slct-rtype, #slct-badno").change(function () {
				$("#slct-roomno").attr("disabled", true);
				let data = {
					rtype: $("#slct-rtype").val(),
					badno: $("#slct-badno").val()
				};
				console.log(data)
				$.get("http://localhost:8000/get_room_no/", data, function (res) {
					console.log(res);
					$("#slct-roomno").attr("disabled", false);
					$("#slct-roomno").html('<option value="">Select Room</option>');
					$.each(res.roomno, function (i, v) {
						$("#slct-roomno").append('<option value="' + v + '">' + v + '</option>')
					});
				});
			});
		})
	</script>
</body>

</html>