{% load static %}
<!DOCTYPE>
<html>
<head>
<title>login</title>
<link rel="stylesheet" type="text/css" href="overview.css"/>
<style>
	#holder{
	border:0px solid;
	width:1365px;
	height:auto;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	}
#header{
	background-image:url({% static '22.jpg' %});
	background-repeat:no-repeat;
	border:1px solid;
	width:1362px;
	height:100px;
	margin-top:-100px;
	margin-right:0px;
	margin-left:0px;
	}
#header ul{
	list-style:none;
	}
#header ul li a{
	border:3px solid;
	font-size:18px;
	float:right;
	background-color:#FFD700;
	width:110px;
	height:50px;
	text-align:center;
	margin:0px 10px 0px 10px;
	font-weight:bold;
	line-height:50px;
	border-radius:50px;
	transition-property:all;
	transition-duration:0.4s;
	transition-timing-function:linear;
	}	
#header ul li a{
	text-decoration:none;
	color:white;
	}
#header ul li a:hover{
			background-color:#00FF7F;
			color:#4b388a;
			
			}
#header ul li a:active{
	background-color:#00FFFF;
}
#gallery{
	border:1px solid;
	background-color:#FFD700;
	width:650px;
	height:500px;
	padding:26px;
	margin-top:0px;
	margin-bottom:auto;
}
#contact{
	background-color:#FFD700;
	width:605px;
	height:500px;
	padding:26px;
	border:1px solid;
	margin-left:703px;
	margin-top:-554px;
}
#b1{
	background-color:#7FFF00;
	border-radius:170px;
	border:2px solid;
	width:150px;
	height:100px;
	font-size:10px;
	margin-left:100px;
}
#b2{
	background-color:#7FFF00;
	border-radius:170px;
	border:2px solid;
	width:150px;
	height:100px;
	font-size:10px;
	margin-top:-100px;
	margin-left:350px;
}
#b3{
	background-color:#7FFF00;
	border-radius:170px;
	border:2px solid;
	width:150px;
	height:100px;
	font-size:10px;
	margin-top:20px;
	margin-left:100px;
}
#b4{
	background-color:#7FFF00;
	border-radius:170px;
	border:2px solid;
	width:150px;
	height:100px;
	font-size:10px;
	margin-top:-100px;
	margin-left:350px;
}



</style>
</head>
<body>
<div id="holder"><a href="https://www.co.in"><img src="{% static '22.jpg' %}" width="200px" height="100px"/></a>
	<div id="header">
        <ul>
			<li><a href="{% url 'login' %}">Customer </a></li>
			<li><a href="{% url 'admin_login' %}">Admin</a></li>
            <li><a href="{% url 'overview' %}">Overview</a></li>
            
           
            <li><a href="{% url 'index' %}">Home</a></li>
            </ul>
        </div><!--header -->
	<div id="gallery">
		<h1>Photo</h1>
		<img src="{% static '01.jpg' %}" width="150px" height="100px"/>
		<img src="{% static '02.jpg' %}" width="150px" height="100px"/>
		<img src="{% static '03.jpg' %}" width="150px" height="100px"/>
		<img src="{% static '04.jpg' %}" width="150px" height="100px"/><br>
		<img src="{% static '04.jpg' %}" width="150px" height="100px"/>
		<img src="{% static '05.jpg' %}" width="150px" height="100px"/>
		<img src="{% static '06.jpg' %}" width="150px" height="100px"/>
		<img src="{% static '07.jpg' %}" width="150px" height="100px"/><br>
		<img src="{% static '08.jpg' %}" width="150px" height="100px"/>
		<img src="{% static '09.jpg' %}" width="150px" height="100px"/>
		<img src="{% static '10.jpg' %}" width="150px" height="100px"/>
		<img src="{% static '11.jpg' %}" width="150px" height="100px"/>
	</div><!--gallery-->
	<div id="contact">
		<h1>Contact Us</h1>
		<div id="b1">&nbsp;&nbsp;
		<h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jitendra Jangir</h2>
		<h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7976372379</h2>
		</div><!--b1-->
		<div id="b2">&nbsp;&nbsp;
		<h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lalit Jaimini</h2>
		<h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9977469946</h2>
		</div><!--b2-->
		<div id="b3">&nbsp;&nbsp;
		<h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Arvind Jangir</h2>
		<h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7081581466</h2>
		</div><!--b3-->
		<div id="b4">&nbsp;&nbsp;
		<h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sunil Jangir</h2>
		<h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9565386679</h2>
		</div><!--b4-->
		<br><br><br><br><br><br>
		<a href="https://www.facebook.com/"><img src="{% static 'fb.jpg' %}" width="50px" height="50px"/></a>
		<a href="https://accounts.google.com/ServiceLogin?passive=1209600&continue=https%3A%2F%2Faccounts.google.com%2FManageAccount&followup=https%3A%2F%2Faccounts.google.com%2FManageAccount#identifier"><img src="{% static 'google.jpg' %}" width="50px" height="50px"/></a>
		<a href="https://twitter.com/login"><img src="{% static 'tw.jpg' %}" width="50px" height="50px"/></a>
		
	</div><!--contact-->
</div><!--holder-->
</body>
</html>
