{% load static %}
<!DOCTYPE>
<html>
<head>
<title>pay</title>
<link rel="stylesheet" type="text/css" href="payment.css"/>
<style>
	#holder{
	border:0px solid;
	width:1365px;
	height:auto;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	}
#header{
	background-image:url({% static '11.jpg' %});
	background-repeat:no-repeat;
	border:1px solid;
	width:1362px;
	height:100px;
	margin-top:-100px;
	margin-right:0px;
	margin-left:0px;
	}
#header ul{
	list-style:none;
	}
#header ul li a{
	border:3px solid;
	font-size:18px;
	float:right;
	background-color:#FFD700;
	width:110px;
	height:50px;
	text-align:center;
	margin:0px 10px 0px 10px;
	font-weight:bold;
	line-height:50px;
	border-radius:50px;
	transition-property:all;
	transition-duration:0.4s;
	transition-timing-function:linear;
	}	
#header ul li a{
	text-decoration:none;
	color:white;
	}
#header ul li a:hover{
			background-color:#00FF7F;
			color:#4b388a;
			
			}
#header ul li a:active{
	background-color:#00FFFF;
}
#payment{
	background-image:url({% static '22.jpg' %});
	text-align:center;
	width:1361;
	height:550;
	margin-top:-21px;
}
#a2{	
	border:20px solid yellow;
	width:500px;
	height:400px;
	margin-left:410px;
	background-color:#FFF380;
	}
</style>
</head>
<body>
<div id="holder"><a href="https://www.co.in"><img src="{% static '22.jpg' %}" width="200px" height="100px"/></a>
	 <div id="header">
     
        <ul>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'overview' %}">Overview</a></li>
            
            <li><a href="{% url 'book' %}">Booking</a></li>
            <li><a href="{% url 'index' %}">Home</a></li>
            </ul>
        </div><!--header -->
<div id="payment">
	<h1>Payment Mode</h1>
	<div id="a2">
    <p>&nbsp;</p>
    
    <form action="payment.php" method="post">
    <label>Card Type:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <select name="type">
                                <option value="debit">Debit Card</option>
        						<option value="credit">Credit Card</option>
                                </select>
     <br><br>
     <label>Expirt Date:</label>&nbsp;&nbsp;&nbsp;
     		<select name="month">
    				<option>Jun</option>
        			<option>Feb</option>
				<option>Mar</option>
				<option>May</option>
				<option>Jun</option>
				<option>July</option>
				<option>Aug</option>
				<option>Sep</option>
				<option>Oct</option>
				<option>Nov</option>	
				<option>Dec</option>
    		</select>
		<select name="year">
    			<option>2015</option><option>2016</option>
                <option>2017</option><option>2018</option>
                <option>2019</option><option>2020</option>
                <option>2021</option><option>2022</option>
                <option>2023</option><option>2024</option>
                <option>2025</option><option>2026</option>
                <option>2027</option><option>2028</option>
                <option>2030</option><option>2031</option>
                <option>2032</option><option>2033</option>
                <option>2034</option><option>2035</option>
                <option>2036</option><option>2037</option>
                <option>2038</option><option>2039</option>
                <option>2040</option><option>2041</option>
                <option>2042</option><option>2043</option>
                <option>2044</option><option>2045</option>
                <option>2046</option><option>2047</option>
                <option>2048</option><option>2049</option><option>2050</option>
    		</select>
        <br><br>
	<label for="cardno">Card No:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input id="caedno" name="num" placeholder="Number" required="" type="text"><br><br>
    
	<label for="name">Card Name:</label>&nbsp;&nbsp;&nbsp;&nbsp;
		<input id="name" name="name" placeholder="Name" required="" type="text"><br><br>
    
	<label for="password">CVV No:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input id="password" name="cvv" placeholder="Number" required="" type="password"><br><br>
    
	<label for="password">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pin</label>&nbsp;&nbsp;
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input id="password" name="password" placeholder="Number" required="" type="password"><br><br><br>

		<input type="submit" name="submit" value="Ok" />
		<input type="reset" name="reset" value="Reset" />
   </form>
    </div><!--a2-->
</div><!--payment-->
</div><!--holder-->
</body>
</html>
