{% load static %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="video.css"/>
<link rel="stylesheet" type="text/css" href="dhtmlxcalendar.css"/>
	
<script src="dhtmlxcalendar.js"></script>
	
<style>
		#calendar,
		#calendar2,
		 	{
			border: 1px solid #909090;
			font-family: Tahoma;
			font-size: 12px;
			}
			#holder{
	border:0px solid;
	width:1365px;
	height:auto;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	}
#header{
	background-image:url({% static '11.jpg' %});
	background-repeat:no-repeat;
	border:1px solid;
	width:1360px;
	height:100px;
	margin-top:-100px;
	margin-right:0px;
	margin-left:0px;
	}
#header ul{
	list-style:none;
	}
#header ul li a{
	border:3px solid;
	font-size:18px;
	float:right;
	background-color:#FFD700;
	width:110px;
	height:50px;
	text-align:center;
	margin:0px 10px 0px 10px;
	font-weight:bold;
	line-height:50px;
	border-radius:50px;
	transition-property:all;
	transition-duration:0.4s;
	transition-timing-function:linear;
	}	
#header ul li a{
	text-decoration:none;
	color:white;
	}
#header ul li a:hover{
			background-color:#00FF7F;
			color:#4b388a;
			
			}
#header ul li a:active{
	background-color:#00FFFF;
}
#ab{
	background-image:url({% static '11.jpg' %});
	border:0px solid;
	width:285px;
	height:559px;
	margin-top:0px;
	}
#check{
	border:0px solid;
	color:#FF0;
	width:278px;
	height:200px;
	margin-left:6px;
	margin-right:0px;
	margin-bottom:auto;
	margin-top:2px;
	
	}
#chat{
	margin-left:10px;
	width:180px;
	height:100px;
	color:#FF0;
	}
#fd{
	margin-left:10px;
	width:180px;
	height:100px;
	color:#FF0;
	}
#video{
	background-image:url({% static '11.jpg' %});
	text-align:center;
	width:819px;
	height:555px;
	margin-top:-559px;
	margin-left:288px
	}
#rest{
	background-image:url({% static '17.jpg' %});
	border:0px solid;
	width:250px;
	height:557px;
	text-align:center;
	margin-left:1110px;
	margin-top:-575px;
	margin-bottom:auto;
	margin-right:auto;
	}
#a3{
	border:1px solid;
	width:248px;
	height:160px;
	background-image:url({% static 'x.jpg' %});
	background-size:247px;
	background-repeat:no-repeat;
	margin-top:-2px;
	
	
	}
#b3{
	border:1px solid;
	width:248px;
	height:160px;
	background-image:url({% static 'y.jpg' %});
	background-size:247px;
	background-repeat:no-repeat;
	
	}
#c3{
	border:1px solid;
	width:248px;
	height:170px;
	background-image:url({% static 'z.jpg' %});
	background-size:247px;
	background-repeat:no-repeat;
	
}

</style>
	<script>
		var myCalendar;
		function doOnLoad() 
			{
			myCalendar = new dhtmlXCalendarObject(["calendar","calendar2",]);
			}
	</script
</head>
<body onload="doOnLoad();">
<div id="holder"><a href="https://www.co.in"><img src="{% static '22.jpg' %}" width="200px" height="100px"/></a>
	 <div id="header">
     
        <ul>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'overview' %}">Overview</a></li>
            
            <li><a href="{% url 'book' %}">Booking</a></li>
            <li><a href="{% url 'index' %}">Home</a></li>
            </ul>
        </div><!--header -->
	<div id="ab">
    
   &nbsp;
   
	<br>
	<br>
   
	</div><!--ab-->
<div id="video">
	<video width="320" height="240" controls autoplay>
	<source src="123.mp4" type="video/mp4">
	<source src="123.ogg" type="video/ogg">
	</video>
</div><!--video-->
<div id="rest">
    	<h1>Special Dishes</h1>
        	<div id="a3">
            </div>
            <div id="b3">
		<a href="#"></a>
            </div>
            <div id="c3">
            </div>
	</div><!--rest-->
</div><!--holder-->
</body>
</html>
