{% load static %}
<!DOCTYPE>
<html>
<head>
<title>Hotel Management</title>
<link rel="stylesheet" type="text/css" href="index.css"/>
<link rel="stylesheet" type="text/css" href="dhtmlxcalendar.css"/>
	
<script src="dhtmlxcalendar.js"></script>
	
<style>
		#calendar,
		#calendar2,
		 	{
			border: 1px solid #909090;
			font-family: Tahoma;
			font-size: 12px;
			}
			#holder{
	border:0px solid;
	width:1348px;
	height:auto;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	}
#header{
	background-image: url({% static '11.jpg' %});
	background-repeat:no-repeat;
	border:1px solid;
	width:1347px;
	height:100px;
	margin-top:-100px;
	margin-right:0px;
	margin-left:0px;
	}
#header ul{
	list-style-type:none;
	}
#header ul li a{
	border:3px solid;
	font-size:18px;
	float:right;
	background-color:#FFD700;
	width:110px;
	height:50px;
	text-align:center;
	margin:0px 10px 0px 10px;
	font-weight:bold;
	line-height:50px;
	border-radius:50px;
	transition-property:all;
	transition-duration:0.4s;
	transition-timing-function:linear;
	}	
#header ul li a{
	text-decoration:none;
	color:white;
	}
#header ul li a:hover{
			background-color:#00FF7F;
			color:#4b388a;
			
			}
#header ul li a:active{
	background-color:#00FFFF;
}
#ab{
	background-image: url({% static '17.jpg' %});
	border:0px solid;
	width:285px;
	height:551px;
	margin-top:-21px;
	}
#check{
	border:0px solid;
	color:#FF0;
	width:285px;
	height:200px;
	margin-left:6px;
	margin-right:0px;
	margin-bottom:auto;
	margin-top:2px
	}
#chat{
	margin-left:10px;
	width:180px;
	height:100px;
	color:#FF0;
	}
#fd{
	margin-left:10px;
	width:180px;
	height:100px;
	color:#FF0;
	}
#ac{
	background-color:purple;
	border:0px solid;
	width:276px;
	height:551px;
	text-align:center;
	margin-left:288px;
	margin-right:auto;
	margin-top:-591px;
	margin-bottom:auto;	
	}
#a{
	border-radius:170px;
	border:2px solid;
	width:240px;
	height:155px;
	font-size:20px;
	background-image: url({% static '1.jpg' %});
	background-repeat:no-repeat;
	margin-top:-10px;
	margin-bottom:10px;
	margin-left:15px;
	}
#b{
	border-radius:170px;
	border:2px solid;
	width:240px;
	height:155px;
	font-size:20px;
	background-image: url({% static '2.jpg' %});
	background-repeat:no-repeat;
	margin-bottom:10px;
	margin-left:15px;
	}
#c{
	border-radius:170px;
	border:2px solid;
	width:240px;
	height:155px;
	font-size:20px;
	background-image: url({% static '3.jpg' %});
	background-repeat:no-repeat;
	margin-left:15px;
}
#offer{
	background-image: url({% static '17.jpg' %});
	border:0px solid;
	width:250px;
	height:551px;
	text-align:center;
	margin-left:567px;
	margin-top:-573px;
	}
#a1{
	border:1px solid;
	width:248px;
	height:160px;
	color:#93C;
	background-image: url({% static 'a.jpg' %});
	background-size:248px;
	background-repeat:no-repeat;
	margin-top:-12px;
	}
#b1{
	border:1px solid;
	width:248px;
	height:165px;
	color:#93C;
	background-image: url({% static 'b.jpg' %});
	background-size:248px;
	background-repeat:no-repeat;
	
	}
#c1{
	border:1px solid;
	width:248px;
	height:171px;
	color:#93C;
	background-image: url({% static 'c.jpg' %});
	background-size:248px;
	background-repeat:no-repeat;
	
}
#nonac{
	background-color:purple;
	border:0px solid;
	width:276px;
	height:551px;
	text-align:center;
	margin-left:820px;
	margin-top:-572px;
	margin-right:auto;
	margin-bottom:auto;
	}
#a2{
	border-radius:170px;
	border:2px solid;
	width:240px;
	height:155px;
	font-size:20px;
	background-image: url({% static '4.jpg' %});
	background-repeat:no-repeat;
	margin-top:-10px;
	margin-bottom:10px;
	margin-left:16px;
	}
#b2{	color:red;
	border-radius:170px;
	border:2px solid;
	width:240px;
	height:155px;
	font-size:20px;
	background-image: url({% static '5.jpg' %});
	background-repeat:no-repeat;
	margin-bottom:10px;
	margin-left:16px;
	}
#c2{
	border-radius:170px;
	border:2px solid;
	width:240px;
	height:155px;
	font-size:20px;
	background-image: url({% static '6.jpg' %});
	background-repeat:no-repeat;
	margin-left:16px;
}
#rest{
	background-image: url({% static '17.jpg' %});
	border:0px solid;
	width:250px;
	height:551px;
	text-align:center;
	margin-left:1099px;
	margin-top:-573px;
	margin-bottom:auto;
	margin-right:auto;
	}
#a3{
	border:1px solid;
	width:248px;
	height:150px;
	color:#93C;
	background-image: url({% static 'x.jpg' %});
	background-size:247px;
	background-repeat:no-repeat;
	margin-top:-2px;	
	}
#b3{
	border:1px solid;
	width:248px;
	height:160px;
	color:#93C;
	background-image: url({% static 'y.jpg' %});
	background-size:247px;
	background-repeat:no-repeat;
	
	}
#c3{
	border:1px solid;
	width:248px;
	height:170px;
	color:#93C;
	background-image: url({% static 'z.jpg' %});	
	background-size:247px;
	background-repeat:no-repeat;
	
}
</style>
	<script>
		var myCalendar;
		function doOnLoad() 
			{
			myCalendar = new dhtmlXCalendarObject(["calendar","calendar2",]);
			}
	</script
</head>
<body onload="doOnLoad();">
<div id="holder"><a href="https://www.co.in"><img src="{% static '22.jpg' %}" width="200px" height="100px"/></a>
	 <div id="header">
     
	<ul>
    	<li><a href="{% url 'logout' %}">Logout</a></li>
    	
    	</ul>
    </div><!--header -->

<h1> hi ur booking is confirmed</h1>
</div>
</body>
</html>